<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="modren_table_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="modren_table_assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="modren_table_assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="modren_table_assets/css/style_light.css">

    <title>Table #5</title>
  </head>
  <body>

  <div class="content">

    <div class="container">
      <h1 class="text-center">Main</h1>
      <h2 class="text-center">Sub</h2>

      <div class="table-responsive custom-table-responsive  mt-5">

        <table class="table custom-table">

          <tbody>


            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 1</td>
              <td>Value 1</td>
            </tr>


            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 2</td>
              <td>Value 2</td>
            </tr>


            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 3</td>
              <td>Value 3</td>
            </tr>

            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 4</td>
              <td>Value 4</td>
            </tr>

            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 5</td>
              <td>Value 5</td>
            </tr>

            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 6</td>
              <td>Value 6</td>
            </tr>

            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 7</td>
              <td>Value 7</td>
            </tr>

            <tr class="spacer"><td colspan="100"></td></tr>
            <tr scope="row">
              <th scope="row"></th>
              <td>Row 8</td>
              <td>Value 8</td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>

  </body>
</html>