<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{abs_path}}/modren_table_assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="{{abs_path}}/modren_table_assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{abs_path}}/modren_table_assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="{{abs_path}}/modren_table_assets/css/style_dark.css">

    <style>
      body {
        min-height: 297mm;
      }
    </style>
  </head>
  <body>

  <div class="content">

    <div class="container">
      <h1 class="text-center">{{main_title}}</h1>
      <h2 class="text-center">{{sub_title}}</h2>

      <div class="table-responsive custom-table-responsive mt-5">

        <table class="table table-striped custom-table">

          <tbody>

            {{table_rows}}

          </tbody>
        </table>
      </div>

    </div>

  </div>

  </body>
</html>